@tailwind base;
@tailwind components;
@tailwind utilities;

.u-radialGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(circle at 50% 100%, rgb(43, 25, 100), rgb(18, 25, 43));
    background-position: center center;
    background-size: cover;
    pointer-events: none;
}